<ion-toolbar>
  <ion-label>
    <ion-buttons>
      <ion-button class="button" shape="round" fill="outline">
        <ion-icon class="icon" name="logo-usd"></ion-icon>
      </ion-button>

      <ion-button shape="round" >
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round">
        <ion-icon name="chatbubble-outline">
        </ion-icon>
      </ion-button>

      <ion-button shape="round">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-label>
</ion-toolbar>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
